{% trans_default_domain 'ngtoolbar' %}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <script src="{{ asset('bundles/netgentoolbar/toolbar.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/netgentoolbar/toolbar.css') }}" />

    <div
        id="ngtoolbar"
        class="ngtoolbar"
        data-admin-remote-edit-url="{{ path('ibexa.url.alias', {locationId: ibexa.configResolver.parameter('content.tree_root.location_id', null, 'default'), 'siteaccess': admin_siteaccess_name}) }}"
    >
        <ul class="ngtoolbar__menu">
            {% if content is defined and content is not null %}
                <li class="ngtoolbar__menu-item">
                    <a
                        class="ngtoolbar__menu-link"
                        target="_blank"
                        href="{{ path('ibexa.content.view', { 'contentId': content.id, 'siteaccess': admin_siteaccess_name }) }}"
                    >
                        <img src="{{ asset('images/ngtoolbar/ibexa-logo.svg') }}"  />
                        {{ 'ngtoolbar.admin_interface'|trans }}
                    </a>
                </li>
            {% endif %}
            {% if nglayouts.layout is not empty and (is_granted('ROLE_NGLAYOUTS_EDITOR') or is_granted('nglayouts:layout:edit', nglayouts.layout)) %}
                <li class="ngtoolbar__menu-item">
                    <a
                        class="ngtoolbar__menu-link"
                        target="_blank"
                        href="{{ path('nglayouts_' ~ 'app', {'siteaccess': admin_siteaccess_name, '_fragment': 'layout/' ~ nglayouts.layout.id.toString() }) }}"
                    >
                        <img src="{{ asset('images/ngtoolbar/layouts-logo.svg') }}"  />
                        {{ nglayouts.layout.name }}
                    </a>
                </li>
            {% endif %}

            <li class="ngtoolbar__menu-item">
                <button
                    class="ngtoolbar__menu-link js-toggle-mode"
                    data-icon-hide-src="{{ asset('images/ngtoolbar/eye-closed.svg') }}"
                    data-icon-show-src="{{ asset('images/ngtoolbar/eye-open.svg') }}"
                    data-label-show="{{ 'ngtoolbar.view_components'|trans }}"
                    data-label-hide="{{ 'ngtoolbar.hide_components'|trans }}"
                    data-block-type="components"
                >
                    <img class="js-toggle-mode-icon" src="{{ asset('images/ngtoolbar/eye-open.svg') }}"  />
                    <span class="js-toggle-mode-label">
                        {{ 'ngtoolbar.view_components'|trans }}
                    </span>
                </button>
            </li>
            <li class="ngtoolbar__menu-item">
                <button
                    class="ngtoolbar__menu-link js-toggle-mode"
                    data-icon-hide-src="{{ asset('images/ngtoolbar/eye-closed.svg') }}"
                    data-icon-show-src="{{ asset('images/ngtoolbar/eye-open.svg') }}"
                    data-label-show="{{ 'ngtoolbar.view_items'|trans }}"
                    data-label-hide="{{ 'ngtoolbar.hide_items'|trans }}"
                    data-block-type="items"
                >
                    <img class="js-toggle-mode-icon" src="{{ asset('images/ngtoolbar/eye-open.svg') }}"  />
                    <span class="js-toggle-mode-label">
                        {{ 'ngtoolbar.view_items'|trans }}
                    </span>
                </button>
            </li>

        </ul>

        <ul class="ngtoolbar__menu ngtoolbar__menu--secondary">
            <li class="ngtoolbar__menu-item">
                <a
                    class="ngtoolbar__menu-link"
                    href="{{ path('logout') }}"
                >
                    {{ 'ngtoolbar.logout'|trans }}
                </a>
            </li>
        </ul>
    </div>
{% endif %}
